DEFAULT {{ os_name }}

LABEL {{ os_name }}
	kernel linux
	append auto=true initrd=initrd.gz debian-installer/language=ru astra-license/license=true {% if item.0 is defined %}hostname={{ item.0.hostname|default('any') }} domain={{ default_domain.upper() }} url={{ server_type }}://{{ network.addr }}/tftpboot/{{ item.0['preseed']|default(default_preseed) }} interface={{ eth_interface }} {% if item.0.ip is defined and item.0.ip %}netcfg/get_ipaddress={{ item.0.ip }} netcfg/get_netmask={{ item.0.mask|default(network.mask)}} netcfg/get_gateway={{ network.addr }} netcfg/get_nameservers={{ network.addr }} netcfg/disable_dhcp=true{% else %}netcfg/choose_interface=auto netcfg/dhcp_timeout=60{% endif %}{% else %}hostname=any domain={{ default_domain.upper() }} url={{ server_type }}://{{ network.addr }}/tftpboot/{{ default_preseed }} interface={{ eth_interface }} netcfg/choose_interface=auto netcfg/dhcp_timeout=60{% endif %}

TIMEOUT 1
