DEFAULT {{ os_name }}

LABEL {{ os_name }}
	kernel linux
	append auto=true initrd=initrd.gz dmraid=true debian-installer/language=ru astra-license/license=true hostname={{ item.hostname|default('any') }} domain={{ default_domain.upper() }} url={{ server_type }}://{{ hostvars[inventory_hostname].ansible_eth0.ipv4.address }}/{{ link_to_tftp_files }}/{% if item.preseed is defined and item.preseed %}{{ item.preseed|replace('.j2','') }}{% else %}{{ default_preseed_filename }}{% endif %} interface={{ eth_interface }} {% if item.ip is defined and item.ip %}netcfg/get_ipaddress={{ item.ip }} netcfg/get_netmask={{ item.mask|default('255.255.255.0')}} netcfg/get_gateway={{ hostvars[inventory_hostname].ansible_eth0.ipv4.address }} netcfg/get_nameservers={{ hostvars[inventory_hostname].ansible_eth0.ipv4.address }} netcfg/disable_dhcp=true{% else %}netcfg/choose_interface=auto netcfg/dhcp_timeout=60{% endif %}

TIMEOUT 1
